
.table.table-bordered.table-sm th,
.table.table-bordered.table-sm td {
    text-align: center;
    vertical-align: middle;
    border: 1px solid black !important; /* Add !important to prioritize your styles */
}
  
  #map {
    height: 710px;
  }
  .table-container {
    max-height: 500px; /* Set a fixed height for the container */
    overflow-y: auto; /* Enable vertical scrollbar */
    margin-bottom: 30px;
}
