tr,th,td{
    text-align: center;
    vertical-align: middle;
}

  
  #map {
    height: 710px;
  }
  .table-container {
    max-height: 500px; /* Set a fixed height for the container */
    overflow-y: auto; /* Enable vertical scrollbar */
    margin-bottom: 30px;
}
