<div class="mx-auto col-md-8">
    <div class="d-flex justify-content-end mb-2">
        <button class="btn btn-secondary ml-auto" (click)="gotoList()">لائحة الدوائر <i class="fa fa-arrow-right"></i>

        </button>
      </div>
    <div class="card card-default  mx-auto">
      
        <div class="card-body">
            <form #f="ngForm" (ngSubmit)="onUpdateAxe(f.value)" *ngIf="currentResource">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label  class="control-label" style="display: block;text-align: right;">
                                : * الدائرة
                            </label>
                            <input type="text" name="designation" style="text-align: right;" ngModel  [(ngModel)]="currentResource.designation" class="form-control">
                        </div> 
                       </div>
                       
                       
                   </div>
          
                   <div>
                    <button class="btn btn-success"  style="float: right; margin-left: 7px;" type="submit">حفظ</button>
             
              
                   </div>
        
            </form>
        </div>
       
    </div>
</div>
